body{
    background-color:darkslategray ;
    margin: auto;
}
div{
    background-image: url(kepek/hatter.jpg);
    width: 600px;
    margin: auto;
    padding: 15px;
   
}
.nappali{
    text-align: center;
}
.jobbra{
    text-align: left;
     font-size: X-large;
}
.lepke{
    color: black;
}
.k2{
    float: right;
}
.k1{
    float: left;
}
.balra{
    font-size: x-large;
    text-align: left;
}