div{
    background-color:#2F4F4F ;
    width: 600px;
    margin: auto;
    padding: 15px;
    size: 15px;
    color: white;
    font-size: x-large;
    

}
.nappali{
    color: white;
}
.cim{
    text-align: center;
}

.k3{
    float: left;
}
.szov{
    padding-right: 10px;
}
.h2{
    font-size: x-large;
}

