body{
font-weight: bold;
color: #003399;
}


.div{
     width: 700px;
     background-color: #e7eecc;
     margin: auto;
     padding: 15px;
     overflow: auto;
}

.nagykep{
     float: right;
}