body{
    background-color: #999999;
    color: black;
}
.ahha{
    margin: auto;
    display: block;
    height: 200px;
    width: 650px;
}
.div1{
    margin: auto;;
    background-color:#485808;
    width: 640px;
    height: 60px;
}
.div2{
    background-color: white;
    width: 880px;
    margin: auto;
    margin-block-end: auto;
}
.oks{
    margin: auto;
    display: block;
    height: auto
}
.pap{
    margin-top: 5px;
    text-align: center;

}
.he{
    background-color:#955555;
    margin: auto;
    display: inline-block;
    width: 200px;
    margin-left: 590px;
    height: 40px;
    margin-top: 3px;
}
.ok{
    float: left;
}
.heh{
    margin: auto;
    display: inline-block;
    background-color:#955555 ;
    margin-left: 800px;
    width: 200px;
    
}

    
